@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Вицове</h1>
<div class="row">
    @foreach (var ideas in Model.Ideas)
    {
        <div class="col-md-4">
            <a href="@ideas.Title">
                @Html.Raw(ideas.Descriptions.Replace("\n", "<br />"))
            </a>
            <div>@ideas.Descriptions</div>
        </div>
    }
</div>
<h1>Категории</h1>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-2">
            @category.Name
        </div>
    }
</div>